@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Digi Word is a simple tool to converts numbers to their textual representation</p>
<p>View the <a href="https://github.com/disorian/digiword" target="_blank">GitHub repository</a> for more information</p>

<p>
    @Html.ActionLink("Back to home", "Index")
</p>